-r ../../requirements-common.txt
-r ../../core/gemini/requirements.txt
-r ../../core/qdrant/requirements.txt
-r ../../core/google_drive/requirements.txt
-r ../../core/utils/requirements.txt
httpx>=0.27
fastembed
